USE [CEP]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 3/26/2017 6:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AggressiveProductivityRate] [real] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ProcessId] [int] NOT NULL,
	[SafeProductivityRate] [real] NOT NULL,
	[Units] [real] NOT NULL,
	[UnitDelta] [real] NOT NULL,
	[Dependencies] [nvarchar](max) NULL,
	[DurationFunction] [int] NULL,
	[StartToFinish] [real] NOT NULL,
	[AggressiveDuration] [real] NOT NULL DEFAULT ((0.0000000000000000e+000)),
	[Duration] [real] NOT NULL DEFAULT ((0.0000000000000000e+000)),
	[inputProdRate] [bit] NOT NULL DEFAULT ((0)),
	[Section] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Links]    Script Date: 3/26/2017 6:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DownwardActivity] [int] NOT NULL,
	[TimePeriod] [real] NOT NULL,
	[UpwardActivity] [int] NOT NULL,
 CONSTRAINT [PK_Links] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Processes]    Script Date: 3/26/2017 6:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Processes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [AggressiveProductivityRate], [Name], [ProcessId], [SafeProductivityRate], [Units], [UnitDelta], [Dependencies], [DurationFunction], [StartToFinish], [AggressiveDuration], [Duration], [inputProdRate], [Section]) VALUES (36, 2, N'A1', 4, 1, 10, 0, N'', 1, 0, 5, 10, 1, 0)
INSERT [dbo].[Activities] ([Id], [AggressiveProductivityRate], [Name], [ProcessId], [SafeProductivityRate], [Units], [UnitDelta], [Dependencies], [DurationFunction], [StartToFinish], [AggressiveDuration], [Duration], [inputProdRate], [Section]) VALUES (37, 2, N'A2', 4, 1, 10, 0, N'36', 1, 0, 6, 12, 1, 0)
INSERT [dbo].[Activities] ([Id], [AggressiveProductivityRate], [Name], [ProcessId], [SafeProductivityRate], [Units], [UnitDelta], [Dependencies], [DurationFunction], [StartToFinish], [AggressiveDuration], [Duration], [inputProdRate], [Section]) VALUES (38, 2, N'A3', 4, 1, 10, 0, N'37', 1, 0, 5, 10, 1, 0)
SET IDENTITY_INSERT [dbo].[Activities] OFF
SET IDENTITY_INSERT [dbo].[Links] ON 

INSERT [dbo].[Links] ([Id], [DownwardActivity], [TimePeriod], [UpwardActivity]) VALUES (5, 142, 5, 50)
SET IDENTITY_INSERT [dbo].[Links] OFF
SET IDENTITY_INSERT [dbo].[Processes] ON 

INSERT [dbo].[Processes] ([Id], [Name]) VALUES (4, N'Walls')
INSERT [dbo].[Processes] ([Id], [Name]) VALUES (5, N'Floor')
INSERT [dbo].[Processes] ([Id], [Name]) VALUES (7, N'Ceiling')
SET IDENTITY_INSERT [dbo].[Processes] OFF
